# Xcode
*.xcuserdata
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate
*.xcbkptlist

# Build
Build/
*.o
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# macOS
.DS_Store
._*

# Generated
成长心图.xcodeproj/
generate-xcodeproj.sh
__pycache__/

# Screenshots
截图/
